<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>zafu</title>
	<link rel="stylesheet" type="text/css" href="top.css">
	<!-- <link rel="stylesheet" href="https://use.typekit.net/cql4cbr.css"> -->
	<!-- 開発用 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- 本番用 -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
	<script src="https://ssense.github.io/vue-carousel/js/vue-carousel.min.js"></script>
	<script src="https://unpkg.com/vue-scrollto"></script>
</head>
<body>
	<header id="header"><!--hal:headerクラス追加-->
		<div class="logo">
			<a href="" v-scroll-to="'#top'"><img src="./images/zafu_logo.png" alt=""/></a>
		</div>
		<nav class="headerMenu">
			<ul class="menu">
				<li class="menuLis"><a href="" v-scroll-to="'#about'">ABOUT ZAFU</a></li>
				<li class="menuLis"><a href="" v-scroll-to="'#program'">PROGRAM</a></li>
				<li class="menuLis"><a href="" v-scroll-to="'#topics'">TOPICS</a></li>
				<li class="menuLis"><a href="" v-scroll-to="'#pdcWrapper'">PRODUCT</a></li>
				<li class="menuLis"><a href="" v-scroll-to="'#dialogue'">DIALOGUE</a></li>
				<li class="menuLis"><a href="" v-scroll-to="'#column'">COLUMN</a></li>
				<li class="menuLis"><a href="" v-scroll-to="'#profile'">PROFILE</a></li>
			</ul>
		</nav>
	</header>
	<div class="main">
		<div id="top" class="top-margin">
			<transition name="slide">
				<div class="slide-image" 
					 v-for="(url, page) in images" 
					 v-if="currentPage == page" 
					 :key="page">
					<img :src="url">
				</div>
			</transition>
			<div id="pagenate-btn">
				<button class="slide-btn" 
						:class="{ 'page-active': currentPage == page }" 
						v-for="(url, page) in images" 
						:value="page" 
						@click="change">
				</button>
			</div>
		</div>
		<div id="about" class="top-margin">
			<div class="container">
				<div class="title-section">
					<h3>ABOUT US</h3>
					<h4>zafu について</h4>
					<div class="title-border"></div>
				</div>
				<div class="content-text">
					zafuとは、ミッション「禅やマインドフルネスに学んだメソッドやプロダクトにより、<br>
					ひとりひとりの幸せ・健康で有意義な人生・良好なコミュニティ構築に寄与する。結果として本質的な安楽を伴った<br>
					社会に必要有用な人材を育成し、善き個の連結による永遠なる世界平和への道筋を導いていくこと」に沿った<br>
					「身心堂」「zafu ざふ」「安楽坐禅法」等各事業の総称です。
				</div>
			</div>
		</div>
		<div id="program" class="top-margin">
			<div class="container">
				<a href="#"></a>
				<div class="title-section">
					<h3>PROGRAM</h3>
					<h4>禅ボディマインドマネジメント講座</h4>
					<div class="title-border"></div>
				</div>
				<div class="content-text">
					からだ・こころ諸症状の改善、思考の整理に。<br>
					歴史と経験に裏付けされた禅メソッドがべース。<br>
				    禅健康法という新しいジャンル。
				</div>
			</div>
		</div>
		<div id="topics" class="top-margin">
			<div class="container">
				<div class="title-section">
					<h3>TOPICS</h3>
					<h4>トピックス</h4>
					<div class="title-border"></div>
				</div>
				<div id="topics-view">
					<carousel :per-page="3"
							  :scroll-per-page="true"
							  :navigation-click-target-size="20":navigation-enabled="true"
							  :navigation-next-label="'▶︎'"
							  :navigation-prev-label="'◀︎'"
							  :pagination-enabled="true"
							  :pagination-active-color="'#000000'"
							  :pagination-color="'#efefef'"
							  :pagination-padding="10"
							  :pagination-size="10">
						<slide v-for="(item, index) in items" :key="index">
							<div class="topic-item">
								<div class="topic-image"><img v-bind:src="item.image" alt=""/></div>
								<div class="topic-info">
									<div class="topic-date">{{ item.date }}</div>
									<div class="topic-category">{{ item.category }}</div>
									<div class="topic-title">{{ item.title }}</div>
									<div class="topic-schedule">{{ item.schedule }}</div>
									<p class="topic-text">{{ item.text }}</p>
								</div>
							</div>
						</slide>
					</carousel>
				</div>
			</div>
		</div>
		<div id="pdcWrapper" class="top-margin">
			<div class="container">
				<div class="prWrapper">
					<a href="#"></a>
				<div class="prModifer">
					<div class="title-section">
		 				<h3>PRODUCT</h3>
						<h4>製品</h4>
						<div class="title-border"></div>
				  	</div>
					<div class="content-text">
						zafuは寺院に於いて坐禅をする際<br>
						使用される坐蒲（ざふ）と言われる座布団が原型の<br>
					    携帯型空気坐禅座布団です
					</div>
			  	</div>
 	 		</div>
			<div class="dcWrapper">
				<div id="dialogue" class="top-margin">
					<div class="dWrapper">
						<a href="#"></a>
						<div class="dModifer">
							<div class="title-section">
								<h3>DIALOGUE</h3>
								<h4>禅対談</h4>
								<div class="title-border"></div>
							</div>
							<div class="content-text">
								様々なジャャンルの方々と禅や体と心の使い方についての対談<br>
								全6回のシリーズ
							</div>
					  	</div>
				  	</div>
			  	</div>
			</div> 
			<div id="column" class="top-margin">
				<div class="cWrapper">
					<a href="#"></a>
					<div class="cModifer">
						<div class="title-section">
							<h3>COLUMN</h3>
							<h4>一輪一話</h4>
							<div class="title-border"></div>
						</div>
						<div class="content-text">
							写真家藤間久子が写す花と<br>
							藤井隆栄の禅コラム
						</div>
					</div>
				</div>
			</div>
		</div> <!--pdc.container-->
	</div> <!--pdcWrapper-->
	<div id="profile" class="top-margin">
		<div class="container">
			<div class="title-section">
				<h3>PROFILE</h3>
				<h4>プロフィール</h4>
				<div class="title-border"></div>
			</div>
			<div id="profile-content">
				<div class="left">
					<div class="imageLeft">
						 <img src="images/proSolo.png" width="489" height="695" alt=""/>
					</div>
				</div>
				<div class="right">
					<div class="profiletext">
						<h3>藤井 隆英<span>(ふじい りゅうえい)</span></h3>
						<p> 
							禅による運動療法、動的瞑想指導の第一人者。仏教身体研究家。<br>
							zafu 代表。身心堂 主宰 主任講師。「zafu ざふ」「安楽坐禅法」開発者。<br>
							禅の身体・哲学・社会活動・マインドフルネスに通じる僧。<br>
							曹洞宗 ( 禅宗 ) 僧侶。整体師。豊橋市一月院副住職。横浜建功寺勤務。八王子市在住。
						</p>
						<p>
							北海道大学水産学部漁業学科卒業。同大学院中退。<br>
							阪神淡路大震災の復興ボランティア活動に参加。SVA(シャンティ国際 ボランティア会)職員、識字学級ひまわりの会事務局長、霊祭執行など、 約 10 年間神戸において多種に渡って活動する。<br>
							神戸在住中にナショナル整体学園を修了。被災者への整体や、健康講座なども行う。<br>
							健康法においては、禅的体操を提唱している臨済宗僧侶 樺島勝徳を師とする。 <br>
							マインドフルネスの祖である世界的なベトナム僧侶ティク・ナット・ハン師を信奉。<br>
							人生の機微なる事柄に問いを立て、思惟し湧き出した言葉を詩の形にまとめた「思惟詩」の制作、発表。<br>
							講座講演著作多数。
						</p>
						<p id="profession">日本マインドフルネス学会会員<br>
								朝日カルチャー講師
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer id="footer">
		<div class="logo">
			<a href="" v-scroll-to="'#top'"><img src="./images/zafu_logo.png" alt=""/></a>
		</div>
		<div class="copyright">
			Copyright&copy;Ryuei Fujii/Zafu Project/Soutaisei Tokyo
		</div>
	</footer>
	</div> <!--main-->
	<script type="text/javascript" src="top.js"></script>
</body>
</html>
