@charaset "utf-8";

/* 共通のcss */
div, header, footer, li, ul, img {
	border: 1px solid blue;
}
* {
	margin: 0;
	padding: 0;
}
html, body {
	border: none;
}
a {
	color: black;
	text-decoration: none;
	transition: all .1s;
}
a:hover {
	text-decoration: none;
	color: gray;
}

.container {
	height: 500px;
}
.title-section {
	text-align: center;
	margin: 0 auto;
	padding-top: 100px;
}
.title-border {
	width: 50px;
	border-bottom: 2px solid lightgray;
	margin: 20px auto 50px auto;
}
#home, #about, #program, #topics, #product, #dialogue, #column, #profile {
	margin-top: -100px;
	padding-top: 100px;
}
.content-text {
	text-align: center;
}

.main {
	width: 100%;
	position: absolute;
	top: 100px;
}
/* <-- 共通のcss */

/* header */
header {
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 10;
  /*line-height: 50px;*/
	border-bottom: 1px solid #eee;
}
.logo {
	float: left;
	margin: 15px 0 0 80px;
}
.menu {
	float: right;
	height: 100%;
	margin-right: 50px;
}
.menu li {
	list-style-type: none;
	border: none;
	font-size: 16px;
	display: inline;
	padding-left: 10px;
	border-left: 1px solid black;
	float: left;
	margin: 35px 10px;
}
/* <-- header */

/* top-content */
.top-content {
	height: 900px;
	border-color: red;
}
#pagenate {
	width: 900px;
	height: 700px;
	/*overflow: hidden;*/
	text-align: center;
	margin: 0 auto;
}
.slide-image {
	width: 900px;
	height: 600px;
	/*overflow: hidden;*/
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
}
.slide-image img {
	width: 800px;
}

.slide-enter-active, .slide-leave-active {
	transition: all 1.5s 0s;
}
.slide-enter {
	opacity: 0;
	transform: translateX(-100px);
	/*transform: translateX(-100px) scale(1.2);*/
}

.slide-leave-to {
	opacity: 0;
	transform: translateX(100px);
	/*transform: translateX(100px) scale(0.8);	*/
}
.slide-leave-active {
	position: absolute;
}
.slide-btn {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	border-radius: 15px;
	border-style: none;
	display: inline-block;
}
/* <-- top-content */

/* about */

/*#about {
	clear: left;
}*/

/* <-- about */

/* product */

/* <-- product */

#dialogue, #column {
	float: left;
	width: 49%;
	border-left: 1px solid black
}
/* profile */
#profile {
	height: 500px;
	padding-bottom: 50px;
	clear: left;
}
/* <-- profile */

/* footer */
footer {
	height: 100px;
	background-color: lightgray;
}
.copyright {
	float: right;
	margin-top: 35px;
	margin-right: 100px;
}
/* <-- footer */