@charaset "utf-8";
* {
	border: 1px solid blue;
	margin: 0;
	padding: 0;
}
html, body {
	border: none;
}

li {
	list-style-type: none;
}
a {
	color: black;
	text-decoration: none;
	transition: all .1s;
}
a:hover {
	text-decoration: none;
	color: gray;
}

/* header */
header {
	height: 100px;
	width: 100%;
	position: fixed;
	background-color: white;
	z-index: 1px;
}
.logo {
	float: left;
	margin: 15px 0 0 80px;
}
.menu {
	float: right;
	height: 100%;
	margin-right: 50px;
}
.menu li {
	border: none;
	font-size: 16px;
	display: inline;
	padding-left: 10px;
	border-left: 1px solid black;
	float: left;
	margin: 35px 10px;
}
/* header-end */

/* top-content */
.top-content {
	margin-top: 100px;
}
.pagenate-images {
	width: 100%;
}
.page-button {
	height: 100px;
}
.title-container {
	width: 200px;
	height: 100px;
	text-align: center;
}
.title-border {
	border-bottom: 1px solid black
}
