 /* 共通のcss */
div, header, footer, li, ul, img button{
	/*border: 1px solid blue;*/
}
* {
	
	font-family: "itc-avant-garde-gothic-pro"
}

body {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

html, body {
	border: none;
}

a {
	color: black;
	text-decoration: none;
	transition: all .1s;
}
a:hover {
	text-decoration: none;
	color: gray;
}

.top-margin {
	padding-top: 80px;
	margin-top: -80px;
}

.container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.all {
	min-width: 850px;
	max-width: 2000px;
	margin: 0 auto;
}

.main {
	width: 100%;
	position: relative;
	top: 80px;
}
/* title */
h3 {
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 3px;
}

h4 {
	font-size: 12px;
	font-weight: 100;
	margin-top: -10px;
}
.title-section {
	text-align: center;
	margin: 0 auto;
}
.title-border {
	width: 50px;
	border-bottom: 2px solid lightgray;
	margin: 20px auto;
}
/* <-- title */

.content-text {
	text-align: center;
	font-size: 12px;
	line-height: 20px;
}

/* <-- 共通のcss */

/* header */
#header {
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 30;
	-webkit-box-shadow: 0px 0px 1vw #808080;
	box-shadow: 0px 0px 1vw #808080;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerMenu {
	margin-right: 10px;
}

#header img { 
	width: 90px;
	margin-left: 20px;
	margin-top: 5px;
}

.menu li  {
	display: inline-block;
	padding-right: 15px;
	font-weight: 100;
	font-size: 13px;
}

.menu li+ li {
	border-left: 1px solid #333;
	padding-left: 20px;
}

.header-manager {
	width: 1500px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* <-- header */

/* top */
.top-manager {
	display: flex;
	align-items: center;
	justify-content: center;
}

#top {
	width: 1500px;
}

.slide-image {
	width: 1500px;
	text-align: center;
	margin: 0 auto;
}

.slide-image a {
	position: relative;
	width: 100%;
	height: 100%;
}
.slide-image a:hover{
    /*background-color: #191919;*/
    /*filter: alpha(opacity=50);*/
    /*-moz-opacity: 0.5;*/
    opacity: 0.5;
}
.slide-image img {
	width: 1500px;
	height: auto;
	object-fit: cover;
}

.slide-enter-active {
	transition: all 1.5s ease-in 0s;
}
.slide-leave-active {
	transition: all 1.5s ease-in 0s;
	position: absolute;
}
.slide-enter {
	opacity: 0;
}
.slide-leave-to {
	opacity: 0;
}

#pagenate-btn {
	margin-bottom: 20px;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-manager {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slide-btn {
	height: 15px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 100%;
	border-style: none;
	background-color: #B5B4B5;
	outline: none;
	cursor: pointer;
}

.page-active {
	background-color: #C65248;
}

/* <-- top */

/* about */
.about-manager {
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-inner {
	width: 1500px;
	height: 300px;
}

/* <-- about */

/* program */
.program-manager {
	display: flex;
	align-items: center;
	justify-content: center;
}


.program-background {
	position: relative;
	width: 1500px;
	height: 600px;
	background-image: url("./images/program.jpg");
	background-size: cover;
	background-position: center;
}

#program .title-section {
	padding-top: 15px; 
	margin-top: -30px;	
	margin-bottom: 0px;
	color: white;
}

#program .content-text {
	margin-top: 300px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

#program a {
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-size:0px;
}

#program .container a:hover{
    background-color:#191919;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
/* <-- program */

/* topics */
.topics-manager {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: -70px;
}



#topics-view {
	width: 950px;
	height: 450px;
	margin: 0 auto;
	padding-top: 30px;
}

.morebtn {
	display: flex;
	justify-content: flex-end;
	position: relative;
}


.morebtn a {
	position: absolute;
	width: 80px;
	height: 100%;
}

.morebtn a:hover{
    background-color:hsla(0,0%,100%,0.60);
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

　/* ナビゲーションボタン */

img.navigation-btn {
	/*object-fit: contain;*/
}

.slideManager {
	margin-left: 10px;
	margin-right: 5px;
}

.topic-item {
	width: 270px;
	height: 300px;
	/*height: 60vw;*/
	text-align: left;
	position: relative;
	margin: 0;
}
.topic-item a {
	position: absolute;
	width: 100%;
	height: 100%;
}
.topic-item a:hover{
    background-color: hsla(0,0%,100%,0.5);
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.topic-image {
	width: 100%;
	text-align: center;
}
.topic-image img {
	width: 200px;
}
.topic-info {
	position: absolute;
	bottom: 0;
	height: 150px;
}
.topic-date, .topic-category {
	width: 50%;
	height: 35px;
	font-size: 11px;
	color: gray;
	display: inline-block;
}
.topic-date {
	float: left;
	text-align: left;
}
.topic-category {
	float: right;
	text-align: right;
}
.topic-title, .topic-schedule {
	font-size: 11px;
	font-weight: bold;
}
.topic-text {
	font-size: 11px;
	margin-top: 15px;
	line-height: 15px;
}

/* <-- topics */

/* product */
.pdc-manager {
	display: flex;
	justify-content: center;
}

#pdcWrapper .container{
	width: 1500px;
	height: 100%;
	margin-top: -30px
}

.prWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pr-background {
	position: relative;
	width: 1500px;
	height: 500px;
	color: white;
	background-size: cover;
	background-position: center;
	background-image: url(images/product.png)
}

.prModifer {
  margin-top: 120px; 
}

.prWrapper a {
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-size:0px;
	z-index: 20;
}

.prWrapper a:hover {
    background-color:#191919;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
/* <-- product */

/* dialogue */
.dcWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dWrapper {
	width: 750px;
	height: 450px;
}


.d-background {
	position: relative;
	width: 100%;
	height: 450px;
	color: white;
	background-size: cover;
	background-position: center;
	background-image: url(images/dialogue.png);
	display: flex;
	align-items: center;
	justify-content: center;
}


.dWrapper a {
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-size:0px;
	z-index: 20;
}

.dWrapper a:hover {
    background-color:#191919;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

/* <-- dialogue */

/* column */

.cWrapper {
	width: 750px;
	height: 450px;
}

.c-background {
	position: relative;
	width: 100%;
	height: 450px;
	color: white;
	background-size: cover;
	background-position: center;
	background-image: url(images/column.png);
	display: flex;
	align-items: center;
	justify-content: center;
		
}


.cWrapper a {
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-size:0px;
	z-index: 20;
}
.cWrapper a:hover {
    background-color:#191919;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

/* profile */
#profile {
	/*float: none;*/
}
#profile .container {
	height: auto;
	padding-bottom: 200px;
}


.profile-manager {
	margin-top: 50px; 
	display: flex;
	justify-content: center;
}

.leftMother {
	width: 750px;
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

.leftChild img {
	width: 350px;
	height: 100%;
}

.leftChild {
	margin-right: 15px; 
}


.rightMother {
	width: 750px;
	height: 100%;
}

.rightChild {
	margin-left: 15px;
}

#profile-content h3 {
	margin-bottom: 10px;
	margin-top: -5px;
}
#profile-content span {
	font-size: 12px;
	font-weight: 100;
	margin-left: 10px;
}
#profile-content p {
	padding-top: 10px;
	margin-right: 30px;
	font-size: 12px;
	line-height: 21px;
}

/* <-- profile */

/* footer */
#footer {
	position: relative;
	width: 100%;
	height: 70px;
	background-color: lightgray;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-manager {
	width: 1500px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#footer img {
	width: 90px;
	margin-left: 20px;
	margin-top: 2px;
}
.copyright {
	margin-right: 20px;
	font-size: 12px;
	letter-spacing: 1px;
}
/* <-- footer */

@media (max-width: 850px){
	#header {
		width: 850px;
}
	#footer {
		width: 850px;
	}
